<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcourse.energyconsumptiondiary_androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_myco2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyConsumptionDiary">
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PreviousResultsActivity" />
        <activity android:name=".LeaderboardAndPointsActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".EntryActivity" />
        <activity android:name=".NotificationSettingsActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".AdminHomePageActivity" />
        <activity android:name=".CameraDemoActivity" />
        <activity android:name=".EditMainActivity" />
        <activity android:name=".TransportationMain" />
        <activity android:name=".ServicesMain" />
        <activity android:name=".FoodMain" />
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".AddingItemActivity" />
        <activity android:name=".AddingItemActivitya" />
        <activity android:name=".AddingItemActivityb" />
        <activity android:name=".AddingItemActivityc" />
        <activity android:name=".ElectricMain" />
        <activity android:name=".EditItemActivity" />
        <activity android:name=".EditItemActivitya" />
        <activity android:name=".EditItemActivityb" />
        <activity android:name=".EditItemActivityc" />
        <activity android:name=".ResultsActivity" /> <!--  -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>