<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcourse.energyconsumptiondiary_androidapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_myco2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyConsumptionDiary">

<!--        <service-->
<!--            android:name=".core.NotificationService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"></service>-->

<!--        <receiver android:name=".core.TimeReceiver" android:enabled="true"-->
<!--            android:exported="false" >-->

<!--        </receiver>-->

        <activity android:name=".AdminEditListActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PreviousResultsActivity" />
        <activity android:name=".LeaderboardAndPointsActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".EntryActivity" />
        <activity android:name=".NotificationSettingsActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".EditMainActivity" />
        <activity android:name=".AddingItemActivity" />
        <activity android:name=".EditItemActivity" />
        <activity android:name=".ResultsActivity" /> <!--  -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="com.example.helloandroid.alarms" />
            </intent-filter>

        </receiver>

<!--        <receiver-->
<!--            android:name=".MyReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false" >-->
<!--        </receiver>-->
        <service
            android:name=".MyNewIntentService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </service>
    </application>

</manifest>