<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcourse.energyconsumptiondiary_androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_myco2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyConsumptionDiary">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".AcoountSettingsActivity"></activity>
        <activity android:name=".PreviousResultsActivity" />
        <activity android:name=".LeaderboardAndPointsActivity"></activity>
        <activity android:name=".TipsActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".EntryActivity" />
        <activity android:name=".ResultsActivity" /> <!--  -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>